.nav_container{
    width: 100%;
    background-color: #008080;
}
nav {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .logo img {
    width: 100px;
    cursor: pointer;
  }
  
  .links {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  .links li {
    margin: 0 8px;
    color: #F0F0F0;
    text-decoration: none;
    font-weight: 600;
    padding:10px 12px;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
  }
  .links li:hover {
    color: #f0f0f0bd;
  }
  .links li span{
    position: absolute;
    top: 0px;
    right: 0;
    color: #ffffff;
    font-weight: 700;
    width: 15px;
    height: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }

  @media (max-width: 768px) {
    nav {
      flex-direction: column;
    }
    
    .links {
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
    
    .links li {
      margin: 10px 0;
    }
  }
  